* {
	box-sizing: border-box;
}

@font-face {
    font-family: 'Impact';
    src: url('../fonts/maximum-impact.ttf');
}

html {
	font-family: 'Lato', sans-serif;
}

img {
	max-width: 100%;
	height: auto;
}

a,
a:link,
a:hover,
a:focus {
	color: #2eb398;
	text-decoration: none;
}

/********** GENERAL **********/

.container {
	max-width: 1024px;
	margin: 0 auto;
}

.sr-only {
	position: absolute;
	width: 1px;
	height: 1px;
	padding: 0;
	margin: -1px;
	overflow: hidden;
	clip: rect(0,0,0,0);
	border: 0;
}

.inline-list {
	list-style-type: none;
}

.inline-list li {
	display: inline-block;
}

.float-right {
	float: right;
}

.float-left {
	float: left;
}

.text-center {
	text-align: center;
}

.center-block {
	margin: 0 auto;
}

/********** HEADER **********/

header {
	position: relative;
	background-color: #333;
	color: #fff;
	display: flex;
	justify-content: center;
	align-items: center;
	height: 70px;
	font-size: 10px;
	font-weight: 700;
	text-transform: uppercase;
}

header:after {
	content:'';
	position: absolute;
	top: 100%;
	left: 0;
	right: 0;
	margin: 0 auto;
	width: 0;
	height: 0;
	border-top: solid 25px #333;
	border-left: solid 25px transparent;
	border-right: solid 25px transparent;
}

header a {
	padding: 1em;
	color: #fff;
}

/********** MAIN SECTIONS **********/

.gallery-section {
	margin: 50px auto;
}

.filter {
	padding-bottom: 1em;
}

.canvas-section {
	margin: 50px auto;
}

.meme-canvas {
	border: 1px solid grey;
	margin: 10px auto;
}

/********** FOOTER **********/

footer {
	background-color: #333;
	color: #fff;
}

.add-txt-btn{
    
    bottom: 50px;
}

.display-none {
	display: none;
}
