* {
	box-sizing: border-box;
}

@font-face {
	font-family: 'Impact';
	src: url('../fonts/maximum-impact.ttf');
}

html {
	font-family: 'Lato', sans-serif;
	font-size: 16px;
}

body {
	background-color: #666;
}

img {
	max-width: 100%;
	height: auto;
}

a,
a:link,
a:hover,
a:focus {
	color: #2eb398;
	text-decoration: none;
}

/********** GENERAL **********/

.container {
	max-width: 1024px;
	margin: 0 auto;
}

.sr-only {
	position: absolute;
	width: 1px;
	height: 1px;
	padding: 0;
	margin: -1px;
	overflow: hidden;
	clip: rect(0,0,0,0);
	border: 0;
}

.inline-list {
	list-style-type: none;
}

.inline-list li {
	display: inline-block;
}

.inline-block {
	display: inline-block;
}

.float-right {
	float: right;
}

.float-left {
	float: left;
}

.text-center {
	text-align: center;
}

.center-block {
	margin: 0 auto;
}

.btn {
	background-color: #e7e7e7;
	border: none;
	color: #333;
	padding: 15px 32px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 1em;
}
.btn-default { /* White */ 
	background-color: #fff;
	color: #000;
}
.btn-primary { /* Blue */
	background-color: #008CBA;
	color: #fff;
}
.btn-info { /* Black */
	background-color: #555;
	color: #fff;
}
.btn-success { /* Green */
	background-color: #4CAF50;
	color: #fff;
}
.btn-danger { /* Red */ 
	background-color: #f44336;
	color: #fff;
}
.btn:hover {
	box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

/********** HEADER **********/

header {
	position: relative;
	background-color: #333;
	color: #fff;
	display: flex;
	justify-content: center;
	align-items: center;
	height: 70px;
	font-size: 10px;
	font-weight: 700;
	text-transform: uppercase;
}

header:after {
	content:'';
	position: absolute;
	top: 100%;
	left: 0;
	right: 0;
	margin: 0 auto;
	width: 0;
	height: 0;
	border-top: solid 25px #333;
	border-left: solid 25px transparent;
	border-right: solid 25px transparent;
}

header a {
	padding: 1em;
	color: #fff;
}

/********** MAIN SECTIONS **********/

.gallery-section {
	min-height: 90vh;
	margin: 50px auto 0;
}

.filter {
	text-align: center;
	margin-bottom: 50px;
}

.filter input {
	padding: 10px;
	width: 300px;
	font-size: 1em;
}

.searches {
	display: flex;
	justify-content: space-evenly;
	align-items: center;
	margin-bottom: 50px;
	color: #dd0;
}

.hex,
.hex img {
	transition: all 1s;
}

.hex img:hover {
	transform: scale(1.25);
	transition: all 1s;
}

.canvas-section {
	min-height: 90vh;
	padding-top: 50px;
	padding-bottom: 50px;
	
	color: #fff;
}

.btn-back {
	display: block;
	margin-bottom: 30px;
}

.meme {
	display: flex;
	justify-content: space-between;
	border-width: 20px;
	border-color: #552;
	border-style: solid;
	padding: 18px;
}	

.meme-canvas {
	border: 1px solid grey;
}

/********** TEXT EDITOR **********/

.text-editor fieldset { 
	display: block;
	margin: 0 1em 1em;
	padding: 1em;
	border: 1px solid #999;
}

.text-editor legend {
	padding: 0.25em 0.5em;
	border: 1px solid #999;
	color: #ff0;
	font-size: 1em;
	background-color: #444;
}

.text-editor label {
	display: inline-block;
	padding-bottom: 10px;
}

.text-editor .btn {
	margin-right: 15px;
	min-width: 50px;
	padding: 10px;
	background-color: #555;
	border: 1px solid #999;
	color: #ddd;
	font-weight: bold;
}

.text-editor .btn:hover {
	color: #ff0;
	background-color: #444;
	box-shadow: none;
}

.meme-text {
	width: 100%;
}

.meme-text,
.meme-font,
.meme-color {
	padding: 10px;
	background-color: #555;
	border: 1px solid #999;
	color: #ddd;
}

.meme-actions {
    margin-bottom: 20px;
}

.meme-actions label {
	display: block;
}

.meme-actions .btn {
	margin-right: 0;
}

.meme-move {	
	display: grid;
	grid-gap: 10px;
	justify-content: space-between;
	width: 200px;
    margin: 0 auto;
}

.meme-move-up {
	grid-row: 1;
	grid-column: 2;
	width: 0;
}

.meme-move-right {
	grid-row: 2;
	grid-column: 3;
	width: 0;

}

.meme-move-down {
	grid-row: 2;
	grid-column: 2;
	width: 0;
}

.meme-move-left {
	grid-row: 2;
	width: 0;
}



/********** FOOTER **********/

footer {
	background-color: #333;
	color: #fff;
}
